.container {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  background-color: rgb(133, 15, 15);
  color: black;
  padding: 2rem;
  clip-path: ellipse();
  cursor: pointer;
  transition: all 2s;
}
.btn:hover {
  background: transparent;
  color: rgb(133, 15, 15);
  transform: rotate(360deg);
}
.pumpkin {
  clip-path: circle();
  filter: grayscale(50%);
  width: 40rem;
  height: 30rem;
  margin: 3rem;
}
.pumpkin:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
